
example.txt
example_2.txt
customers.txt
sales.txt
file_to_check.txt
Python_kajodata_course.code-workspace
data/.ipynb_checkpoints
orders.csv
Superstore.xlsx
exported_orders.csv
exported_superstore.xlsx
shark attacks.xlsx
Dates.xlsx
line_plot.png 
line_plot.pdf